In [1]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as plt

In [3]:
stock_prices = pd.read_csv("regression_predicted.csv")
stock_prices

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,prediction
0,20211206_1301,2021-12-06,1301,2982.0,2982.0,2965.0,2971.0,8900,1.0,NaN,False,2976.039739
1,20211206_1332,2021-12-06,1332,592.0,599.0,588.0,589.0,1360800,1.0,NaN,False,592.870442
2,20211206_1333,2021-12-06,1333,2368.0,2388.0,2360.0,2377.0,125900,1.0,NaN,False,2371.856195
3,20211206_1375,2021-12-06,1375,1230.0,1239.0,1224.0,1224.0,81100,1.0,NaN,False,1230.852503
4,20211206_1376,2021-12-06,1376,1339.0,1372.0,1339.0,1351.0,6200,1.0,NaN,False,1349.978073
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,20211207_9990,2021-12-07,9990,526.0,535.0,524.0,535.0,57800,1.0,NaN,False,528.215714
3996,20211207_9991,2021-12-07,9991,795.0,806.0,792.0,805.0,48500,1.0,NaN,False,797.542586
3997,20211207_9993,2021-12-07,9993,1640.0,1640.0,1620.0,1620.0,6600,1.0,NaN,False,1632.992450
3998,20211207_9994,2021-12-07,9994,2437.0,2440.0,2423.0,2440.0,5200,1.0,NaN,False,2433.065721
3999,20211207_9997,2021-12-07,9997,711.0,719.0,706.0,719.0,204500,1.0,NaN,False,711.846400

In [4]:
stock_prices["Date"] = pd.to_datetime(stock_prices["Date"])

In [18]:
import pandas as pd

all_stocks_df = pd.DataFrame()

for code in stock_prices["SecuritiesCode"].unique():
    tmpdf = stock_prices[stock_prices["SecuritiesCode"] == code].reset_index(drop=True)

    all_stocks_df = pd.concat([all_stocks_df, tmpdf], ignore_index=True)

In [19]:
all_stocks_df["Close_shift1"] = all_stocks_df["prediction"].shift(-1)
all_stocks_df["Close_shift2"] = all_stocks_df["prediction"].shift(-2)

all_stocks_df["rate"] = (all_stocks_df["Close_shift2"] - all_stocks_df["Close_shift1"]) / all_stocks_df["Close_shift1"]
all_stocks_df

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,prediction,Close_shift1,Close_shift2,rate
0,20211206_1301,2021-12-06,1301,2982.0,2982.0,2965.0,2971.0,8900,1.0,NaN,False,2976.039739,3017.622504,592.870442,-0.803531
1,20211207_1301,2021-12-07,1301,2998.0,3065.0,2990.0,3065.0,19100,1.0,NaN,False,3017.622504,592.870442,557.171248,-0.060214
2,20211206_1332,2021-12-06,1332,592.0,599.0,588.0,589.0,1360800,1.0,NaN,False,592.870442,557.171248,2371.856195,3.256961
3,20211207_1332,2021-12-07,1332,569.0,569.0,535.0,556.0,6449200,1.0,NaN,False,557.171248,2371.856195,2389.844443,0.007584
4,20211206_1333,2021-12-06,1333,2368.0,2388.0,2360.0,2377.0,125900,1.0,NaN,False,2371.856195,2389.844443,1230.852503,-0.484965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,20211207_9993,2021-12-07,9993,1640.0,1640.0,1620.0,1620.0,6600,1.0,NaN,False,1632.992450,2406.647336,2433.065721,0.010977
3996,20211206_9994,2021-12-06,9994,2394.0,2433.0,2393.0,2418.0,7800,1.0,NaN,False,2406.647336,2433.065721,704.523325,-0.710438
3997,20211207_9994,2021-12-07,9994,2437.0,2440.0,2423.0,2440.0,5200,1.0,NaN,False,2433.065721,704.523325,711.846400,0.010394
3998,20211206_9997,2021-12-06,9997,702.0,717.0,695.0,706.0,284000,1.0,NaN,False,704.523325,711.846400,NaN,NaN
3999,20211207_9997,2021-12-07,9997,711.0,719.0,706.0,719.0,204500,1.0,NaN,False,711.846400,NaN,NaN,NaN

In [20]:
all_stocks_df["rank"] = all_stocks_df["rate"].rank(ascending=False,method="first") -1 
all_stocks_df = all_stocks_df.sort_values("rank").reset_index(drop=True)

In [26]:
all_stocks_df.head(15)

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,prediction,Close_shift1,Close_shift2,rate,rank
0,20211206_7972,2021-12-06,7972,355.0,357.0,349.0,349.0,62700,1.0,NaN,False,353.502825,357.240569,50792.928811,141.181301,0.0
1,20211206_6366,2021-12-06,6366,379.0,379.0,370.0,372.0,769100,1.0,NaN,False,375.797877,378.487530,25470.672880,66.295937,1.0
2,20211206_6625,2021-12-06,6625,154.0,158.0,151.0,155.0,418100,1.0,NaN,False,154.207946,157.897598,9590.566609,59.739155,2.0
3,20211206_2694,2021-12-06,2694,62.0,62.0,61.0,61.0,272500,1.0,NaN,False,61.553765,61.538495,3634.591753,58.062084,3.0
4,20211206_6272,2021-12-06,6272,1346.0,1362.0,1341.0,1352.0,23500,1.0,NaN,False,1349.547376,1369.678620,73926.534559,52.973635,4.0
5,20211206_7298,2021-12-06,7298,655.0,661.0,646.0,652.0,39400,1.0,NaN,False,653.812354,662.627688,32444.973512,47.964108,5.0
6,20211206_9982,2021-12-06,9982,1765.0,1780.0,1747.0,1758.0,6400,1.0,NaN,False,1763.733363,1766.232782,66783.965658,36.811531,6.0
7,20211206_8925,2021-12-06,8925,50.0,51.0,49.0,50.0,453000,1.0,NaN,False,49.889568,50.874297,1909.156846,36.526943,7.0
8,20211206_6859,2021-12-06,6859,2197.0,2206.0,2175.0,2183.0,41600,1.0,NaN,False,2192.340401,2210.379301,70717.528218,30.993391,8.0
9,20211206_1873,2021-12-06,1873,348.0,352.0,346.0,348.0,81300,1.0,NaN,False,348.552202,417.549174,12807.946112,29.674102,9.0
10,20211206_4047,2021-12-06,4047,1017.0,1023.0,1010.0,1012.0,124700,1.0,NaN,False,1016.500892,1028.593986,29835.085719,28.005697,10.0
11,20211206_6517,2021-12-06,6517,1652.0,1668.0,1641.0,1650.0,39100,1.0,NaN,False,1653.480394,1685.685684,47759.841175,27.332590,11.0
12,20211206_1435,2021-12-06,1435,226.0,227.0,221.0,222.0,209700,1.0,NaN,False,224.511607,227.888874,6312.163169,26.698426,12.0
13,20211206_5269,2021-12-06,5269,264.0,267.0,261.0,261.0,122000,1.0,NaN,False,263.872046,266.904866,7349.740480,26.536929,13.0
14,20211206_4714,2021-12-06,4714,406.0,409.0,401.0,402.0,631000,1.0,NaN,False,405.183013,408.528218,10521.947514,24.755742,14.0

In [ ]:
#